<!--suppress TypeScriptValidateTypes -->
<tui-root>
  <div class="container m-5 p-2 rounded mx-auto bg-light shadow">
    <div class="row m-1 p-4">
      <div class="col">
        <div
          class="p-1 h1 text-primary text-center mx-auto display-inline-block"
        >
          <fa-icon [icon]="check"></fa-icon>
          <u>Item Tracker</u>
        </div>
      </div>
      <div class="col-auto px-0 mx-0 mr-2 mt-5">

        <button type="button" class="btn btn-primary" style="margin-right: 2rem" (click)="getFactorial()">
          Calculate Factorial
        </button>
        <button type="button" class="btn btn-primary " (click)="showDialog()">
          Add Item
        </button>

        <ng-template
          let-observer
          [tuiDialogOptions]="{ size: 'm' }"
          [(tuiDialog)]="isModalOpen"
        ><h2 class="text-center font-monospace fw-semibold mb-2">
          Add Item To Tracker
        </h2>

          <form (ngSubmit)="onSubmit()" [formGroup]="itemForm">
            <div class="row">
              <div class="col-md-12">
                <h6>
                  Item Name &nbsp;
                  <span class="tui-required text-danger"></span>
                </h6>
                <tui-input
                  class="b-form"
                  [tuiTextfieldCleaner]="true"
                  formControlName="itemName"
                >
                  Item Name
                  <input
                    type="text"
                    tuiTextfield
                    placeholder="sample item name..."
                  />
                </tui-input>
                <tui-error
                  *ngIf="
                    itemForm.get('itemName')?.errors?.['required'] &&
                    itemForm.get('itemName')?.touched
                  "
                  error="Item name is required"
                ></tui-error>
              </div>

              <div class="col-md-12" style="margin-top: 2rem">
                <h6>
                  Item Description &nbsp;
                  <span class="tui-required text-danger"></span>
                </h6>
                <tui-input
                  class="b-form"
                  [tuiTextfieldCleaner]="true"
                  formControlName="itemDescription"
                >
                  Item Description
                  <input
                    type="text"
                    tuiTextfield
                    placeholder="sample item description..."
                  />
                </tui-input>
                <tui-error
                  *ngIf="
                    itemForm.get('itemDescription')?.errors?.['required'] &&
                    itemForm.get('itemDescription')?.touched
                  "
                  error="Item description is required"
                ></tui-error>
              </div>
            </div>
            <div
              style="margin-top: 2rem; display: list-item; list-style: none"
              class="text-center"
            >
              <button
                tuiButton
                type="submit"
                appearance="primary"
                class="tui-space_right-3 tui-space_bottom-3"
                [showLoader]="isLoading"
                size="m"
              >
                Submit
              </button>
              <button
                tuiButton
                type="button"
                appearance="secondary-destructive"
                class="tui-space_right-3 tui-space_bottom-3"
                size="m"
                (click)="closeModal()"
              >
                Cancel
              </button>
            </div>
          </form>
        </ng-template>
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <div class="col-md-16">
        <table tuiTable [columns]="columns" class="table">
          <thead>
          <tr tuiThGroup>
            <th *tuiHead="'id'" tuiTh tuiSortable>Id</th>
            <th *tuiHead="'name'" tuiTh tuiSortable>Item Name</th>
            <th *tuiHead="'description'" tuiTh tuiSortable>
              Item Description
            </th>

            <th *tuiHead="'isComplete'" tuiTh tuiSortable>Completed</th>

            <th *tuiHead="'createdAt'" tuiTh tuiSortable>CreatedAt</th>
            <th *tuiHead="'factorial'" tuiTh tuiSortable>Factorial</th>
          </tr>
          </thead>
          <tbody
            tuiTbody
            *tuiLet="items | tuiTableSort as sortedItems"
            [data]="items"
          >
          <tr *ngFor="let item of sortedItems; let index = index" tuiTr>
            <td *tuiCell="'id'" tuiTd>
              {{ index + 1 }}
            </td>

            <td *tuiCell="'name'" tuiTd>
              {{ item.itemName }}
            </td>

            <td *tuiCell="'description'" tuiTd>
              {{ item.itemDescription }}
            </td>

            <td *tuiCell="'createdAt'" tuiTd>
              {{ item.createdDtm | date }}
            </td>
            <td *tuiCell="'factorial'" tuiTd>
              {{ item?.factorial ?? '' }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</tui-root>
